fastapi==0.115.5
uvicorn[standard]==0.32.1
sqlalchemy==2.0.36
alembic==1.14.0
pydantic==2.10.3
pydantic-settings==2.7.0
python-dotenv==1.0.1
gitpython==3.1.43
requests==2.32.3
transliterate==1.10.2
pygments==2.18.0
structlog==24.4.0
httpx==0.28.1
pytest==8.3.4
pytest-asyncio==0.24.0
